ion-content.background {

background-color: rgb(104, 37, 110)

}
.p {
   padding-left: 30%;
   //padding-block-start: 0%;
   padding-top: 40%;
   position: relative;
   
}
.derecha{
    //float:right;
    width: 48% ;
}

.izquierda{
    width: 48%;
}
.bot 
{
    height: 500%;
    width: 60%;
    float: right;
}
.home 
{
   height: 0;
   width: 60%;
   float: right;
}
.background{
    background: #7044ff;
}