ion-content.background {

background-color: rgb(70, 17, 75)

}
.p {
   padding-left: 30%;
   //padding-block-start: 0%;
   padding-top: 40%;
   position: relative;
   
}
.derecha{
    //float:right;
    width: 48% ;
}

.izquierda{
    width: 48%;
}
.bot 
{
    width:  48%;
       float: right;
}
.invit 
{
    width:  48%;
       float: right;
}

.background{
    background: #a826c9;
}
