<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-img src="\assets\icon\png.png"></ion-img>

  <ion-item color="tertiary">
    <ion-label position="user"><ion-icon mame="at"></ion-icon>usuario</ion-label>
   <ion-input ngModel #user="ngModel" name="user" minlength="3"></ion-input>
   </ion-item>

   <ion-item color="tertiary">
   <ion-label input type="password"icon name="key"><ion-icon mame="key"></ion-icon>contraseña</ion-label>
   <ion-input type="password" ngModel #password="ngModel"name="password" minlength="3"></ion-input>
   </ion-item>

  <ion-button expand="block">ingresar</ion-button>
  <ion-button color="medium">Registro</ion-button> <ion-button color="medium">Invitado</ion-button>
  
</ion-content>
